/*Página index*/
body {
  background-color: rgb(220, 187, 223);
  margin: 20px auto;
  border: rgb(12, 8, 8) solid 4px;
  padding: 10;
}
#bodyindex {
  background-color: rgb(203, 157, 243);
}
p {
  text-align:center;
}
h2 {
  background-color: rgb(191, 146, 208);
 text-align: left;
}
table {
  border: 15px;
}

/*Página do formulário*/
.pagina-formulario {
  margin: rgb(138, 13, 167) 20px auto;
  border: rgb(93, 3, 113) solid 10px;
  padding: 20px;
  background-color: rgb(220, 187, 223);
}

.pagina-formulario input {
  border: 2px solid rgb(95, 3, 103);
  padding: 10px;
}

.pagina-formulario form {
  display: flex;
  flex-direction: column;
  align-items: normal;
}
